{{ if .install_bun }}
# Bun — JavaScript runtime & toolkit | https://bun.sh
if ! command -v bun &> /dev/null; then
    curl -fsSL https://bun.sh/install | bash
    bun completions
fi
{{ end }}

{{ if .install_deno }}
# Deno — JavaScript/TypeScript runtime | https://deno.com
if ! command -v deno &> /dev/null; then
    curl -fsSL https://deno.land/install.sh | sh
    deno completions fish > $HOME/.config/fish/completions/deno.fish
fi
{{ end }}

{{ if .install_lazygit }}
# Lazygit — A Git TUI | https://github.com/jesseduffield/lazygit
if ! command -v lazygit &> /dev/null; then
    LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[0-9.]+')
    curl -LO "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
    tar xf "lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz" -C "$LOCAL_BIN" lazygit
    rm "lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
fi
{{ end }}

{{ if .install_lazydocker }}
# Lazydocker — a terminal UI for Docker | https://github.com/jesseduffield/lazydocker
if ! command -v lazydocker &> /dev/null; then
    LAZYDOCKER_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazydocker/releases/latest" | grep -Po '"tag_name": "v\K[0-9.]+')
    curl -LO "https://github.com/jesseduffield/lazydocker/releases/latest/download/lazydocker_${LAZYDOCKER_VERSION}_Linux_x86_64.tar.gz"
    tar xf "lazydocker_${LAZYDOCKER_VERSION}_Linux_x86_64.tar.gz" -C "$LOCAL_BIN" lazydocker
    rm "lazydocker_${LAZYDOCKER_VERSION}_Linux_x86_64.tar.gz"
fi
{{ end }}

{{ if .install_wishlist }}
# Wishlist — an SSH directory TUI | https://github.com/charmbracelet/wishlist
if ! command -v wishlist &> /dev/null; then
    WISHLIST_VERSION=$(curl -s "https://api.github.com/repos/charmbracelet/wishlist/releases/latest" | grep -Po '"tag_name": "v\K[0-9.]+')
    curl -LO "https://github.com/charmbracelet/wishlist/releases/latest/download/wishlist_${WISHLIST_VERSION}_Linux_x86_64.tar.gz"
    tar xf "wishlist_${WISHLIST_VERSION}_Linux_x86_64.tar.gz" -C "$LOCAL_BIN" wishlist
    rm "wishlist_${WISHLIST_VERSION}_Linux_x86_64.tar.gz"
fi
{{ end }}

{{ if .install_just }}
# Just — Just a command runner | https://github.com/casey/just
if ! command -v just &> /dev/null; then
    curl --proto '=https' --tlsv1.2 -sSf https://just.systems/install.sh | bash -s -- --to "$LOCAL_BIN"
fi
{{ end }}